<%= form_for(@rail) do |f| %>
  <% if @rail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rail.errors.count, "error") %> prohibited this rail from being saved:</h2>

      <ul>
      <% @rail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :g %><br>
    <%= f.text_field :g %>
  </div>
  <div class="field">
    <%= f.label :scaffold %><br>
    <%= f.text_field :scaffold %>
  </div>
  <div class="field">
    <%= f.label :Address %><br>
    <%= f.text_field :Address %>
  </div>
  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :contact_id %><br>
    <%= f.text_field :contact_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
