<p id="notice"><%= notice %></p>

<p>
  <strong>G:</strong>
  <%= @rail.g %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @rail.scaffold %>
</p>

<p>
  <strong>Address:</strong>
  <%= @rail.Address %>
</p>

<p>
  <strong>Street:</strong>
  <%= @rail.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @rail.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @rail.state %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @rail.contact %>
</p>

<%= link_to 'Edit', edit_rail_path(@rail) %> |
<%= link_to 'Back', rails_path %>
